<%- include("./layouts/header.ejs") %>

  <div class="container">
    <div class="row">
      <div class="col-sm-4 mt-5">
        <h2 class="alert alert-success text-center">Borrow Book</h2>
        <form action="" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Student Name</label>
            <input type="text" class="form-control" id="name" name="name" />
          </div>
          <div class="mb-3">
            <label for="studentId" class="form-label">Student ID</label>
            <input type="text" class="form-control" id="studentId" name="studentId" />
          </div>
          <div class="mb-3">
            <label for="bookName" class="form-label">Book name</label>
            <input type="text" class="form-control" id="bookName" name="bookName" />
          </div>
          <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" />
          </div>
          <div class="mb-3">
            <label for="borrowDate" class="form-label">Borrow Date</label>
            <input type="date" class="form-control" id="borrowDate" name="borrowDate" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-sm-8 mt-5">
        <h2 class="alert alert-danger text-center">List of Borrow Book</h2>
        <%# Show All Data %>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Student Name</th>
                <th scope="col">Student ID</th>
                <th scope="col">Book name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Borrow Date</th>
                <th scope="col">Return Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dinh Manh Tri</td>
                <td>534534</td>
                <td>Đắc nhân tâm</td>
                <td>45</td>
                <td>45345345</td>
                <td>45345345</td>
                <td>
                  <button type="button" class="btn btn-danger">Return Book</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>

  <%- include("./layouts/footer.ejs") %>